* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectable {

}
input, textarea /*.contenteditable?*/ {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}
.serial-data-item {
    margin-bottom: 6px;
}
.serial-data-item .index {
    color: #bdbdbd;
}
.serial-data-item:nth-child(2n) .index {
    background-color: #eff1f4;
}
.serial-data-item:nth-child(2n) .data {
    background-color: #e7e9ec;
}
.monospaced-font {
    font-family: "Lucida Console", Monaco, monospace;
}

.user-input-container {
    position: relative;
    padding-top: 18px;
    overflow: auto;
}
.user-input-container textarea {
    padding-top: 20px;
    background: none;
    line-height: 36px;
    resize: none;
}
.user-input-container .user-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.user-input-container .user-input::selection {
    text-shadow: 3px 3px 2px #27ae60;
    /*background: rgba(0,0,0,0.5);*/
    text-decoration: underline;
    color: #CE1311;
}
.computed-result {
    position: absolute;
    top: 0;
    z-index: -1;
    border-color: transparent;
    box-shadow: none;
    height: 100%;
    color: #4FBDF2;
}
.number-system-convert-result {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}